
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-secret
data:
  username: <username encoded in base64>
  password: <password encoded in base64>
  zone_id: <zone id encoded in base64>
  record_id: <record id encoded in base64>

